<ng-container>
  <div class="text-end my-3 me-3">
    <button id="addButton" class="btn btn-secondary" (click)="editPopUp()">Add</button>
  </div>
  <div class="datagrid-container">
    
    <dx-data-grid
      [dataSource]="fooditems$ | async"
      keyExpr="id"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [focusedRowEnabled]="true"
    >

    <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>

    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [showNavigationButtons]="true" [showInfo]="true" displayMode="compact"></dxo-pager>


      <dxi-column dataField="category" alignment="center" [fixed]="true" [width]="230">
        
      </dxi-column>

      <dxi-column dataField="food_item" cellTemplate="food_item" alignment="center" [fixed]="true" [width]="410"></dxi-column>

      <dxi-column dataField="measure" alignment="center"></dxi-column>

      <dxi-column dataField="calories" alignment="center"></dxi-column>

      <dxi-column dataField="protein" alignment="center"></dxi-column>

      <dxi-column dataField="fats" alignment="center"></dxi-column>

      <dxi-column dataField="carbs" alignment="center"></dxi-column>

      <dxi-column dataField="fibre" alignment="center"></dxi-column>

      <dxi-column dataField="price" alignment="center"></dxi-column>

      <dxi-column dataField="food_type" alignment="center"></dxi-column>

      <dxi-column dataField="rating" alignment="center"></dxi-column>

      <dxi-column dataField="serving_size" alignment="center"></dxi-column>

      <dxi-column dataField="sugar" alignment="center"></dxi-column>

      <div *dxTemplate="let f of 'food_item'">
        <a class="link-class" (click)="onClickEditFood(f)"> {{f.value}}</a>
      </div>

      <dxi-column
        dataField="id"
        caption=""
        [allowEditing]="false"
        cellTemplate="id"
      >
      </dxi-column>

      <div
        *dxTemplate="let i of 'id'"
      >
        <a class="detail-link" (click)="onClickShowDetail(i)">See Details</a>
      </div>

    </dx-data-grid>
  </div>
</ng-container>


<ng-container>
  <div class="action3-container">
    <app-action3 
      [popupVisible]="popUpVisibility" 
      (popupVisibleChange)="onPopupVisibilityChange($event)"
      [currentFood]="selectedFood"
      (currentFoodChange)="onCurrentFoodChange($event)"
      [isEditFlag]="isEdit"
      (deleteId)="getDeleteId($event)"
      ></app-action3>
  </div>
</ng-container>

