<!-- 
<dx-responsive-box>
  <dxi-row [ratio]="1"></dxi-row>
  <dxi-row [ratio]="1"></dxi-row>
  <dxi-row [ratio]="1" screen="xs"></dxi-row>
  <dxi-row [ratio]="1" screen="xs"></dxi-row>
  <dxi-row [ratio]="1" screen="xs"></dxi-row>
  <dxi-row [ratio]="1" screen="xs"></dxi-row>

  <dxi-col [ratio]="1"></dxi-col>
  <dxi-col [ratio]="1"></dxi-col>
  <dxi-col [ratio]="1"></dxi-col>

  <dxi-item style="background-color: darkseagreen; line-height: 200px">
    <dxi-location [row]="0" [col]="0" screen="sm md lg"></dxi-location>
    <dxi-location [row]="0" [col]="0" screen="xs" [colspan]="3"></dxi-location>
    <b>First</b>
  </dxi-item>

  <dxi-item style="background-color: slategray; line-height: 200px">
    <dxi-location [row]="0" [col]="1"></dxi-location>
    <dxi-location [row]="1" [col]="0" screen="xs" [colspan]="3"></dxi-location>
    <b>Second</b>
  </dxi-item>

  <dxi-item style="background-color: gold; line-height: 200px">
    <dxi-location [row]="0" [col]="2"></dxi-location>
    <dxi-location [row]="2" [col]="0" screen="xs" [colspan]="3"></dxi-location>
    <b>Third</b>
  </dxi-item>

  <dxi-item style="background-color: green; line-height: 200px">
    <dxi-location [row]="1" [col]="0"></dxi-location>
    <dxi-location [row]="3" [col]="0" screen="xs" [colspan]="3"></dxi-location>
    <b>Fourth</b>
  </dxi-item>

  <dxi-item style="background-color: magenta; line-height: 200px">
    <dxi-location [row]="1" [col]="1"></dxi-location>
    <dxi-location [row]="4" [col]="0" screen="xs" [colspan]="3"></dxi-location>
    <b>Fifth</b>
  </dxi-item>

  <dxi-item style="background-color: peru; line-height: 200px">
    <dxi-location [row]="1" [col]="2"></dxi-location>
    <dxi-location [row]="5" [col]="0" screen="xs" [colspan]="3"></dxi-location>
    <b>Six</b>
  </dxi-item>
</dx-responsive-box> -->

<div class="bg">
  <div class="content">
    <div class="content-container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Nihil porro eum
        molestias iste? Esse tenetur excepturi, <br> accusantium numquam rem,
        blanditiis suscipit ducimus,<br> dolore et deserunt non nobis corrupti quasi
        quam.
      </p>
      <div class="text-center">
        <button class="btn btn-primary" >Read More</button>
      </div>
    </div>
  </div>
</div>
