.bg {
    /* The image used */
    background-image: url("../../../assets/sample-homepage-background6.jpg");
  
    /* Full height */
    height: 94.2vh; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* position: relative; */
}

.content{
    /* position: absolute;
    top: 50%;
    left: 33%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content-container{
    width: 50%;
}

p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}